{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "css-modules-transform"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "./babel"
       ]
    }
  }
}
